<form action="/lists/<%=@list.id%>/edit" method="POST">
	<input id="hidden" type="hidden" name="_method" value="PATCH">
	<input type="text" name="name" id="name" value="<%= @list.name %>"><br>
	<a href="/items/<%=@list.id%>/new">Add Item</a><br>
	<input type="submit" name="submit"	id="submit" value="Save">
</form>
<form action="/lists/<%=@list.id%>/delete" method="POST">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" id="delete" name="delete" value="Delete List">
</form>