<form action="/lists/new" method="POST">
	<input type="text" name="name" id="name" value="List Name">
	<input type="submit" name="submit"	id="submit" value="Save">
</form>

<h3>Navigation</h3>
<a href="/home">Home</a><br>
<a href="/logout">Log Out</a><br>