<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<div class="container">
<% if message == 'success' %>
  <div class="alert alert-success">
  You have successfully logged out of your account.
</div>
<% end %>
<h1>Log In</h1>
	<form  action="/login" method="post">
		<input type="text" name="username" id="username" value="Username">
		<input type="text" name="password" id="password" value="password">
		<input type="submit" name="submit" id="submit" value="Log in!">
	</form>
</div>