<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<div class="container">
<% if message == 'empty' %>
  <div class="alert alert-danger">
  <strong>Try Again!</strong> Username and password must be filled in.
</div>
<% end %>

<% if message == 'error' %>
  <div class="alert alert-danger">
  <strong>Try Again!</strong> Username cannot be Username
</div>
<% end %>

<% if message == 'same' %>
  <div class="alert alert-danger">
  <strong>Try Again!</strong> Username already taken.
</div>
<% end %>

<h1>Sign Up For ToDo!</h1>
<form action="/signup" method="post">
	<input type="text" name="username" id="username" value="Username">
	<br><br>
	<input type="text" name="password" id="password" value="password">
	<br><br>
	<input class="btn btn-primary" type="submit" name="save" value="Sign Up!">
</form>
</div>