<h2>Welcome to To Do</h2>
<h3>A weekly based todo checklist app!</h3>
<br>
<p>New Here? <a href="/signup">Create An Account!</a></p>
<br><br>
<p>Alread have and account?<a href="/login">Log in!</a></p>